<app-header titulo="Slides"></app-header>


<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/img/pensativo.png" />
        <h2>¿Cómo retirar dinero de un <b>cajero</b> sin Tarjeta?</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/img/app.png" />
        <h2>Ingreso</h2>
        <p>Descarga la aplicación móvil en tu celular</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/img/ubicacion.png" />
        <h2>Ubicación</h2>
        <p>Selecciona el lugar dónde quieres retirar, si en un cajero o en un corresponsal bancario</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/img/valor.png" />
        <h2>Valor</h2>
        <p>Ingresa tu número de tarjeta débito o crédito y tu clave de cajero automático</p>
        <p>Posteriormente crea tu usuario y contraseña</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/img/retiro.png" />
        <h2>Retiro</h2>
        <p>Acércate al cajero o al corresponsal bancario y selecciona la opción:</p>
        <p>‘Retiro/Avance sin Tarjeta’</p>
        <p>Ingresa tu número de cédula y el valor que quieres retirar, el mismo que seleccionaste en tu celular.</p>
        <p>¡Y listo!</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>